/* pseudo-classes / pseudo-Klassen */
:root {
    --sideColorLight: rgb(250, 250, 250);
    --sideColorDark: rgb(220, 220, 255);
    --mainColorLight: rgb(80, 80, 255);
    --colorEntryNormal: rgb(100, 100, 100);
    --colorEntryHover: rgb(0, 0, 0);
    --colorEntryActive: rgb(80, 80, 255);

    --HeaderHeight: 50px;
    --HeaderHeightSmallDevice: 150px;
}

/* Tags */
body {
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    font-size: 4vh; 
}

header, footer {
    background-color: var(--mainColorLight);
    display: flex;
    height: var(--HeaderHeight);
    align-items:center; /* vertical alignment within flex-model*/
    color:white;
}
@media (orientation: portrait) {
    header, footer {
        height: var(--HeaderHeightSmallDevice);
    }    
}

main {
    background-color: darkgray;
    flex: 1;
    overflow-y: scroll;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(10px + 4vh);
}

noscript, div span {
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    color: black;
}

label {
    margin-top: auto;
    margin-bottom: auto;
    width: var(--HeaderHeight);
    height: 97%;
    background-color: var(--sideColorDark);
    border-radius: 5px;

    background-size: 100%; /* for Children */
    background-repeat: no-repeat;
}
@media (orientation: portrait) {
    label {
        width: var(--HeaderHeightSmallDevice);
    }    
}

label:hover {
    background-color: var(--colorEntryNormal);
}

ul { /* every dropdownMenu */
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: var(--HeaderHeight); /* same as header height to stand direct under it */
}
@media (orientation: portrait) {
    ul {
        top: var(--HeaderHeightSmallDevice);
    }
}
@media (orientation: landscape) and (min-height: 500px)  {
    nav ul {
        display: block;
        position: initial;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;      
    }

    nav li {
        display: block;
        color:white;
        text-align: center;
        padding: 14px 16px;
        float: left;
    }

    nav li:not(.activeNavEntry):hover {
        background-color: #000;
    }
}

li { /* dropdownMenu - Entry */
    display: block;
    padding: 14px 16px;
    background-color: var(--colorEntryNormal);

    color:white;
    text-align: center;
}

li:hover:not(.activeNavEntry) {
    background-color: var(--colorEntryHover);
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 5px;
}

tbody tr:hover {
    background-color: var(--sideColorDark);
}

th { 
    color: var(--sideColorLight);
    background-color: var(--colorEntryNormal);
}
th:hover {
    background-color: var(--colorEntryHover);
}


/* classes / Klassen */
.dialogComponent {
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
}

.hidden {
    display: none;
}

.activeNavEntry {
    background-color: var(--colorEntryActive);
}

/* IDs */
#logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;  
    margin-left: 5px;
    margin-right: 5px;
}

#buttonDropdownView {
    background-image: url(../pic/menuBurger.png);
    margin-left: 1px;
}
@media (orientation: landscape)  and (min-height: 500px) {
    #buttonDropdownView {
        display: none;
    }
}

#buttonDropdownOption {
    background-image: url(../pic/option.svg);
    margin-left: auto;
    margin-right: 1px;
}

#toggleDropdownOption:checked ~ #dropdownOption, #toggleDropdownView:checked ~ #dropdownView {
    display: block;
}
#dropdownOption {
    right: 5px;
}
#dropdownView {
    left: 5px;
}
@media (orientation: landscape) and (min-height: 500px) { 
    #navDropdownMenu {
        display:none;
    }
}

#overlay {
    min-width: 100%;
    min-height: 100%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
}
