/* pseudo-classes / Pseudo-Klassen */
:root {
    --sideColorLight:   rgb(250, 250, 250);
    --sideColorDark:    rgb(220, 220, 255);
}

/* Tags */
table {
    border-collapse:    collapse;  
}

th, td {
    border:             1px solid black;
    padding-top:        10px;
    padding-right:      5px;
    padding-bottom:     10px;
    padding-left:       5px;
}   

th {
    font-size:          20px;
}
tr:nth-of-type(2n+1) {
    background-color:   var(--sideColorLight);
}

tr:nth-of-type(2n) {
    background-color:   var(--sideColorDark);
}

/* classes / Klassen */
.exampleColor {
    width:              3em;
    height:             1em;
    border:             1px black solid;
}

.docImage {
    width:              100px;
    height:             100px;
}